li {
   list-style: none;
}

.detail {
   padding: 0.2em;
   max-width: 858px;

}

.description {
   margin: 5px;
   padding: 10px;
   white-space: pre-wrap;
   border: 1px solid rgb(248, 247, 247);
   border-radius: 10px;
   background-color: rgb(248, 247, 247);
   word-break: break-all;
}

#text {
   white-space: pre-wrap;
}

pre {
   white-space: pre-wrap;
}

hr {
   position: relative;
   margin-top: 40px;
   width: 100%;
   border-bottom: 1px solid rgb(248, 247, 247);
}